*{
    margin: 0;
}
.wrapper{
    overflow: hidden;
    min-height: 100%;
    border: 4px solid rgb(192, 21, 21);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.border{
    border: 2px solid rgb(21, 10, 168);
}
 .header{
    
     
     border: 3px solid #000;
 
     
     /* background: bisque; */
     
 } 
 .content{
     max-width: 1050px;
     margin: 0 auto;
     
 }
 .header__conteiner{
    position: absolute; 
    display: flex;
    justify-content: space-between;
 }
 .header__logo{
   
 }
 .header__logo>a{
    text-decoration: none;
    color: rgb(77, 61, 61);
    font-family: 'Times New Roman', Times, serif;
 }
 .header__menu{
    
    width: 300px;
 }
 .menu{
     
     display: flex;
     /* flex-direction: column; */
     justify-content: space-between;
 }
 .menu>div>a{
     text-decoration: none;
 }
 .footer{
     height: 200px;
     background-color: dimgrey;
 }
.main__title{
    background-image: url("img/background.jpg");
    height: 700px;
}